/* ページ全体のスタイル */
body {
	background-color: #000; /* 背景色を黒 */
	color: white; /* テキスト色を */
	font-family: 'Noto Serif JP'; /* フォント、明朝体に近い */
	margin: 0; /* メニューの外部余白をなくす */
	padding: 0; /* メニューの内部余白をなくす */
}

h2 {
	font-size: 24px;
	color: #D82115;
}

.title {
	display: flex; /* フレックスボックスを使用 */
	align-items: center; /* アイテムを垂直方向に中央揃え */
	justify-content: space-between; /* アイテムを左右に均等配置 */
	height: 80px; /* ヘッダーの高さを80pxに設定 */
	margin: 25px 25px 0px 20px; /* 上、右、下、左 */
}

.header img {
	height: 100%; /* ヘッダー内の画像を高さ100%に設定 */
	object-fit: contain; /* 画像が親要素に収まるように調整 */
}

/* リストメニュー */
ul.ddmenu {
	margin: 0; /* メニューの外部余白をなくす */
	padding: 0; /* メニューの内部余白をなくす */
	list-style-type: none; /* リストのマーカーをなくす */
}

ul.ddmenu li {
	width: 125px; /* 各メニューアイテムの幅を125pxに設定 */
	display: inline-block; /* 横並びに表示 */
	text-align: center; /* テキストを中央揃え */
}

ul.ddmenu a {
	color: white; /* メニューリンクの色を白に設定 */
	line-height: 40px; /* リンク内のテキストの縦の位置調整 */
	text-decoration: none; /* リンクの下線を削除 */
	font-weight: bold; /* テキストを太字に */
}

ul.ddmenu a:hover {
	background-color: #555; /* ホバー時に背景色を変更 */
}

/* メニューセクション */
.menu {
	padding: 20px; /* 内側に20pxの余白を設定 */
	background-color: #1a1a1a; /* メニュー全体の背景色をダークグレーに設定 */
	color: white; /* テキスト色を白に設定 */
	margin: 20px auto; /* セクション上下に20pxの余白、左右は自動で中央揃え */
	width: 90%; /* メニュー全体の幅を画面幅の90%に設定 */
	text-align: left; /* テキストを左揃え */
	border-radius: 10px;
}

.menu ul {
	list-style-type: none; /* リスト項目のマーカー（点や数字）を非表示 */
	flex-wrap: wrap; /* アイテムが折り返すように設定 */
	padding: 0px; /* 内側の余白なし */
	display: flex; /* フレックスボックス配置 */
	gap: 20px; /* 各リスト項目間に20pxの間隔を設定 */
}

.menu li {
	font-size: 20px; /* フォントサイズを20pxに設定 */
	background-color: #333333; /* 背景色を濃いグレーに設定 */
	color: white; /* テキストの色を白に設定 */
	padding: 15px; /* 内側の余白を15pxに設定 */
	margin-bottom: 20px; /* 下部の余白を20pxに設定 */
	text-align: center; /* テキストを中央揃えに設定 */
	width: 30%; /* 各リスト項目の幅を30%に設定 */
	border-radius: 10px; /* 角を10pxの丸みに設定 */
}


.menu img {
	max-width: 100%; /* 画像の最大幅を親要素に合わせる */
	height: auto; /* 高さは自動調整 */
	border-radius: 10px; /* 画像の角を丸くする */
}
